
/*
*Welcome css
*/

.register-1-form {
    background: url("../../../assets/images/pattern/02.png") no-repeat 0 0;
    background-color: rgba(0, 0, 0, 0);
    background-origin: initial;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover !important;
    position: relative;
    z-index: 0;
}

.register-img .register-form-inner {
    background-image: none !important;
    border: none;
    padding: 0;
    width: 100%;
    height: 100%;
}

.page-section-ptb {
    padding: 80px 0;
}

@media screen and (max-width: 991px) {
    .page-section-ptb {
        padding: 50px 0;
    }
}

@media screen and (max-width: 1200px) {
    .page-section-ptb {
        padding: 60px 0;
    }
}

.divider {
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
}

.divider:before {
    content: "";
    position: absolute;
    bottom: 0;
    display: inline-block;
    left: 50%;
    margin-left: -48px;
    width: 97px;
    height: 3px;
    background: url("../../../assets/images/divider/bar2.png") no-repeat 0 0;
}

.register-1-form .field-widget {
    position: relative;
}

.register-1-form .field-widget i {
    color: #fff;
    left: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.register-1-form .field-widget input, .register-1-form .field-widget select ,
.register-1-form .field-widget label {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid #c7b7cf;
    height: 50px;
    padding-left: 40px;
    color: #ffffff;
    cursor: pointer;
}

.register-1-form .field-widget .radio-group {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.register-1-form .field-widget .radio-group label {
    padding-left: 0%;
    border: none;
    border-bottom: none;
}

.register-1-form .field-widget .radio-group input[type="radio"] {
    margin-right: 10px;
    height: 25px;
}

.register-1-form .section-checkbox label {
    padding-left: 0%;
    border: none;
    border-bottom: none;
    text-align: start;
}

.register-1-form .field-widget input[type="checkbox"] {
    margin-right: 10px;
    height: 25px;
    width: 20px;
}

.register-1-form .field-widget select {
    appearance: none;
}

.register-1-form .field-widget select > option{
    background-color: white;
    color: black;
}

.register-1-form .field-widget select>option:checked {
    background-color: blue;
    color: white;
}

.register-1-form .section-field .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    text-align: start;
}

.button {
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    color: #656565;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 100%;
    margin: 10px 0;
    outline: 0 none;
    padding: 15px 50px;
    position: relative;
    text-transform: capitalize;
    white-space: nowrap;
    border: 2px solid #ddd;
}

.button:hover {
    color: #656565;
    text-decoration: none;
}

.button,
.button.animated.right-icn span,
.button.animated.right-icn i {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.button.btn-theme {
    background: rgb(232, 29, 98);
    background: -moz-linear-gradient(30deg, rgb(232, 29, 98) 30%, rgb(224, 86, 109) 70%);
    background: -webkit-linear-gradient(30deg, rgb(232, 29, 98) 30%, rgb(224, 86, 109) 70%);
    background: -o-linear-gradient(30deg, rgb(232, 29, 98) 30%, rgb(224, 86, 109) 70%);
    background: -ms-linear-gradient(30deg, rgb(232, 29, 98) 30%, rgb(224, 86, 109) 70%);
    background: linear-gradient(120deg, rgb(232, 29, 98) 30%, rgb(224, 86, 109) 70%);
    border: none;
    color: #ffffff !important;
    -webkit-box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.1);
}

.button.full-rounded {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    z-index: 9;
    vertical-align: bottom;
}

.button:hover.animated.right-icn span {
    -webkit-transform: translate(-20px, 0);
    -ms-transform: translate(-20px, 0);
    transform: translate(-20px, 0);
    ms-transform: translate(-20px, 0);
}

.button.animated.right-icn span {
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    ms-transform: translate(0, 0);
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    ms-backface-visibility: hidden;
}

.button.right-icn i {
    margin-left: 10px;
    margin-right: 0;
    font-size: 15px;
}

.button.animated.right-icn i {
    position: absolute;
    display: block;
    top: 50%;
    right: 0;
    -webkit-transform: translate(40px, -50%);
    -ms-transform: translate(40px, -50%);
    transform: translate(40px, -50%);
    ms-transform: translate(40px, -50%);
    opacity: 0;
}

.button:hover.animated.right-icn i {
    opacity: 1;
}

.lead {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .lead {
        font-size: 14px;
        line-height: 24px;
    }
}